@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

#snakes-game-container {
  background-color: #000;
  min-height: 100vh;
  cursor: pointer;
  overflow: hidden;
}

#game-title {
  text-align: center;
  background-color: #000;
  color: #fff;
  font-size: 2.5rem;
  padding-block: 1.5rem;
  font-family: 'VT323', monospace;
}

.high-score {
  background-color: #fff;
  color: black;
  font-variant: small-caps;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  width: fit-content;
  margin-inline: auto;
  margin-top: 1rem;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  font-family: 'VT323', monospace;
}

.score {
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  margin-block: 1rem;
  width: fit-content;
  margin-inline: auto;
}

.score > span:first-child {
  background-color: #000;
  color: white;
  padding-block: 0.5rem;
  padding-inline: 1rem 0.3rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  font-family: 'VT323', monospace;
}

.score > span:last-child {
  background-color: #000;
  color: #fff;
  padding-block: 0.5rem;
  padding-inline: 0.8rem 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  font-family: 'VT323', monospace;
}

.new-game-hint,
.skinSelect,
.leaderBoard,
.signOut {
  text-align: center;
  color: white;
  font-weight: 900;
  font-size: 1.5rem;
  animation: teeter 2s linear infinite;
  margin-top: 2rem;
  font-family: 'VT323', monospace;
}

#game-over-modal-container {
  position: fixed;
  inset: 0;
  outline: 1px solid red;
  background-color: #000;
  cursor: pointer;
}

#game-over-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: 'VT323', monospace;
  width: 700px;
  height: 300px;
  display: grid;
  place-content: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px black, 0 0 100px 10px black;
}

#game-over-modal > h2 {
  font-size: 4em;
}

.final-score {
  font-size: 1.3em;
}

/* .final-score>span {
  font-weight: 900;
  font-size: 2rem;
} */

.congratulate {
  margin-block: 0.5rem;
  font-size: 1.5rem;
  background-color: #61a3ba;
  color: white;
  padding-inline: 0.5rem;
  font-weight: 900;
  border-radius: 1rem;
}

#paused-modal-container {
  position: fixed;
  inset: 0;
  background-color: hsla(0deg, 0%, 10%, 0.7);
  cursor: pointer;
}

#paused-modal {
  width: 500px;
  height: 300px;
  background-color: #000;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  place-content: center;
  border-radius: 1rem;
  text-align: center;
  font-family: 'VT323', monospace;
}

#paused-modal > h2 {
  font-size: 3rem;
}

#paused-modal > .click-dir {
  color: white;
}

.entry-table {
  color: #fff;
  font-family: 'VT323', monospace;
  font-size: 2rem;
  width: 80%;
  text-align: center;
  margin-left: 10%;
}

th,
td {
  border: 4px solid white;
}

/* .click-dir {
  color: rgb(255, 255, 255);
  font-style: italic;
  font-size: 1.3rem;
} */

button {
  font-family: 'VT323', monospace;
}

.backButton {
  font-size: 2rem;
  margin-left: 10%;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.signUp,
.signIn {
  background: black;
  color: white;
  padding-bottom: 1000%;
  font-family: 'VT323', monospace;
  font-size: xx-large;
  padding-left: 45%;

  input:is(input) {
    margin-left: 10px;
  }
}

.signUp {
  h1:is(h1) {
    margin-left: 6.5%;
  }
}

.signIn {
  h1:is(h1) {
    margin-left: 8%;
  }
}

.signInButton,
.signInSwap,
.signUpButton,
.signUpSwap {
  font-size: 2rem;
  margin-right: 42px;
  margin-top: 20px;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
